# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Optional: build folders (if any)
dist/
build/

# Flutter-specific (agar Flutter code bhi repo me hai)
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock

# VS Code settings
.vscode/
